@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}


/* ==========================================================================
   Common styling start
   ========================================================================== */

   :root {
    --main-color: #ffffff;
    --secondary-color: #464e68;
    --time: .2s ease-in-out;
  }

  body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
  }

  .wrapper{
    max-width: 1366px;
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
  }

  a {
    display: inline-block;
    text-decoration: none;
  }

  li {
    display: inline-block;
    list-style-type: none;
  }

  section { width: 100%;}

  .subheadline {
    color: #799a9a;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .subheadline::after {
    content: '';
    width: 80%;
    border-top: 1px solid #fff;
    margin: 10px 0;
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
/* ==========================================================================
   Common styling end
   ========================================================================== */

/* ==========================================================================
   Header starts
   ========================================================================== */

  .header .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
  }

  .logo { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

  .logo a {
    font-size: 1.125em;
    font-weight: normal;
    color: var(--main-color);
  }

  .logo a, .menu li a {
    margin: 20px 10px;
    padding: 20px 10px;
  }

  .logo-bold-text {
    font-size: 15px;
    color: #799a9a;
  }

  .navbar { 
    display: flex;
    justify-content: flex-end;
    -webkit-box-flex: 2; 
    -ms-flex: 2; 
    flex: 2; 
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
  }

  .menu li a {
    text-transform: uppercase;
    color: var(--main-color);
    -webkit-transition: var(--time);
    -o-transition: var(--time);
    transition: var(--time);
  }

  .burger{ display: none; }

  .burger div{
    width: 20px;
    height: 3px;
    background: #fff;
    margin: 3px;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .navtoggle .line:first-child { -webkit-transform: rotate(-45deg) translate(-3px,5.5px); -ms-transform: rotate(-45deg) translate(-3px,5.5px); transform: rotate(-45deg) translate(-3px,5.5px); }
  .navtoggle .line:nth-child(2) { opacity: 0; }
  .navtoggle .line:nth-child(3) { -webkit-transform: rotate(-45deg) translate(-3px,-5.5px); -ms-transform: rotate(45deg) translate(-3px,-5.5px); transform: rotate(45deg) translate(-3px,-5.5px); }

  @media screen and (min-width: 768px) {
    .menu li a:hover { font-weight: bold; }
  }
  

/* ==========================================================================
   Header ends
   ========================================================================== */

/* ==========================================================================
   Banner starts
   ========================================================================== */

   .banner {
      position: relative; 
      width: 100%;
    }

  .banner-img {
    width: inherit;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
    background: -o-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  }

  .banner-img img {
    width: inherit;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
  }

  .banner .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .banner-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .banner-subheadline {
    color: #799a9a;
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
  }

  .banner-subheadline::after {
    content: '';
    width: 50%;
    border-top: 1px solid #799a9a;
    margin: 30px 0;
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .banner-subheadline span {color: var(--main-color);}

  .banner-headline {
    font-size: 6.5em;
    font-weight: 100;
    color: var(--main-color);
  }

/* ==========================================================================
   Banner ends
   ========================================================================== */

/* ==========================================================================
   about starts
   ========================================================================== */

  .about { background-color: #f2f2f2; }

  .about .wrapper { 
    padding: 7.8% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .card {
    width: calc(47.6% - 4px);
    text-align: center;
    background-color: var(--main-color);
  }

  .card-img { 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-img img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-text { margin: 4% 2% 5% 2%; }
  .card-subheadline { font-size: 0.75em; }

  .card-text .card-subheadline::after {
    content: '';
    width: 80%;
    border-top: 1px solid #799a9a;
    margin: 10px 0;
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .card-headline {
    font-size: 28px;
    font-weight: lighter;
  }

  .card-info {
    margin-bottom: 6%;
    padding: 0 5.1%;
    color: #799a9a;
    text-align: left;
    line-height: 1.5;
  }

  .card li:last-child { margin-bottom: 8.67%; }

  .card-link {
    padding: 10px 15px;
    border: 2px solid #799a9a;
    color: #000000;
    font-size: 13.5px;
    text-transform: uppercase;
    -webkit-transition: var(--time);
    -o-transition: var(--time);
    transition: var(--time);
  }

  @media screen and (min-width: 768px) { 
    .card-link:hover {
      background-color: #799a9a;
      color: #ffffff;
    }
  }

/* ==========================================================================
   about ends
   ========================================================================== */

/* ==========================================================================
    projects stars
   ========================================================================== */
  .projects { position: relative; }

  .projects .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .projects-text {
    margin: 80px 0;
    text-align: center;
  }

  .projects-subheadline {font-size: 12px;}
  .projects-text .subheadline::after {width: 93%;}

  .projects-headline {
    color: var(--main-color);
    font-size: 35px;
    font-weight: 100;
  }
/* ==========================================================================
   projects ends
   ========================================================================== */

/* ==========================================================================
   gallery start
   ========================================================================== */

  .gallery {background-color: #f2f2f2;}

  .gallery .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .gallery-text {
    margin: 8% 0 3.4% 0;
    text-align: center;
  }

  .gallery-subheadline { font-size: 0.75em; }

  .gallery-text .subheadline::after { 
    width: 50%; border-top: 1px solid #799a9a; 
  }

  .gallery-headline {
    color: #000000;
    font-size: 35px;
    font-weight: 100;
  }

  .portfolio {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .port-img {
    width: calc(48% - 38px);
    padding: 1.3%;
    margin-bottom: 5%;
    background-color: var(--main-color);
  }

  .port-img img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* ==========================================================================
   gallery ends
   ========================================================================== */

/* ==========================================================================
   Footer starts
   ========================================================================== */

  .footer { background-color: #000; }

  .footer .wrapper {
    padding: 4.3% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #808080;
  }

  .media-icons {
    width: 18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .media-icons a {
    font-size: 25px;
    font-weight: bold;
    color: #808080;
    -webkit-transition: var(--time);
    -o-transition: var(--time);
    transition: var(--time);
  }

  .media-icons a:hover { color: #fff; }

  .footer-text {
    font-size: 0.875em;
    margin-top: 3.4%;
  }

  .footer-text::before {
    content: '\f1f9';
    font-size: 0.875em;
  }

/* ==========================================================================
   Footer ends
   ========================================================================== */

/* ==========================================================================
   max width 1280 starts
   ========================================================================== */

   @media screen and (max-width: 1280px) {
    .banner .wrapper { bottom: 45%; }
    .banner-headline { font-size: 6em; }
  }

/* ==========================================================================
  max width 1280 ends
  ========================================================================== */

/* ==========================================================================
   max width 1024 starts
   ========================================================================== */

   @media screen and (max-width: 1024px) {
    .banner .wrapper { bottom: 40%; }
    .banner-headline { font-size: 5.5em; }
  }

/* ==========================================================================
  max width 1024 ends
  ========================================================================== */

/* ==========================================================================
   max width 995 starts
   ========================================================================== */

  @media screen and (max-width: 995px) {

    .burger{
      display: block;
      float: right;
      cursor: pointer;
    }
    
    .menu {
      width: 100%;
      background-color: rgba(0,0,0,0.8);
      position: absolute;
      left: 0;
      top: 90%;
      display: block;
      text-align: center;
    }

    .logo a, .menu li a {
      margin: 0;
      padding: 15px;
    }

    .menu li { display: block; }
    .menu li a { font-size: 0.875em;}
    .burger-text { color: #fff;}
    .banner .wrapper { bottom: 35%; }
    .banner-headline { font-size: 5em; }
    
  }

/* ==========================================================================
   max width 995 ends
   ========================================================================== */

/* ==========================================================================
   max width 768 starts
   ========================================================================== */

   @media screen and (max-width: 768px) {
    
    .logo, .navbar { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
    .banner .wrapper { bottom: 30%; }
    .banner-headline { font-size: 3em; }
    .banner-subheadline { font-size: 0.75em; }
    .banner-subheadline::after { margin: 20px 0px; }
    .card { width: 100%; }
    .card:last-child { margin-top: 10%;}
    .card-headline { font-size: 1.25em; }
    .card-info { font-size: 0.875em; }
    .gallery-headline { font-size: 1.25em; }
    .port-img { width: 100%; }
    .projects-headline { font-size: 1.5625em; }
    .media-icons a { font-size: initial; }
  }
/* ==========================================================================
   max width 768 ends
   ========================================================================== */

/* ==========================================================================
   max width 540 starts
   ========================================================================== */

   @media screen and (max-width: 540px) {
    .banner .wrapper { bottom: 20%; }
    .banner-headline { font-size: 2.5em; }
    .banner-subheadline { font-size: 0.625em; }
    .banner-subheadline::after { margin: 10px 0px; }
    .media-icons { width: 35%; }
  }

/* ==========================================================================
  max width 540 ends
  ========================================================================== */

/* ==========================================================================
   max width 320 starts
   ========================================================================== */

   @media screen and (max-width: 320px) {
    .logo a { padding: 5px; }
    .menu li a { padding: 10px; }
    .banner .wrapper { bottom: 10%; }
    .banner-headline { font-size: 2em; }
  }

/* ==========================================================================
  max width 320 ends
  ========================================================================== */